In [14]:
import os
import pandas as pd
import geopandas as gpd

In [11]:
emp_file = 'microzone_employment_2019.csv'
emp_path = os.path.join('..', '..', 'Model', '1_Model-Files', '5_DaySim', 'Inputs', '2_MicroZones', emp_file)

In [59]:
emp = pd.read_csv(emp_path)
county_xref = gpd.read_file(r'C:/data/OneDrive/WSP O365/chattanooga-modeling - RTP TDM Update/Data/crosswalk.gdb')
county_xref = county_xref.groupby(['TAZID'])['county'].first().reset_index()
county_xref.columns = ['TAZ_ID', 'county']
county_xref

emp = pd.merge(emp, county_xref, on='TAZ_ID')

check = emp[['county', 'empmed_p', 'empfoo_p', 'empgov_p', 'empind_p', 'empedu_p', 'empofc_p', 'empret_p', 'empsvc_p', 'empoth_p']].copy()

emp = emp[['county', 'empedu_p', 'empfoo_p', 'empgov_p', 'empind_p', 'empmed_p', 'empofc_p', 'empret_p', 'empsvc_p', 'empoth_p', 'emptot_p', 'emptrn_p']]

emp = emp.groupby('county').sum().transpose()

In [61]:
emp[['Hamilton', 'Catoosa', 'Walker', 'Dade']]

county    Hamilton  Catoosa  Walker   Dade
empedu_p   12134.0   1774.0  1002.0  278.0
empfoo_p   20903.0   1910.0   492.0   13.0
empgov_p    7702.0    619.0   215.0   10.0
empind_p   48972.0   2850.0  1832.0   32.0
empmed_p   36636.0   2205.0   664.0  100.0
empofc_p   44149.0   1732.0   514.0   45.0
empret_p   25786.0   3619.0   589.0   67.0
empsvc_p   14211.0   1553.0   662.0  178.0
empoth_p    9575.0   1039.0   447.0   22.0
emptot_p  220068.0  17301.0  6417.0  745.0
emptrn_p   16997.0   1098.0   431.0   16.0

In [57]:
check.groupby('county').sum().transpose().sum().reset_index().transpose()

              0     1         2       3
county  Catoosa  Dade  Hamilton  Walker
0         17301   745    220068    6417